@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter';
    --font-serif: 'Vollkorn';
    --font-mono: 'Fira Code';

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 0 0% 98%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.2% 33.9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --success: 161.4, 93.5%, 30.4%;
    --success-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 12%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;

    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;

    --border: 240 5.3% 26.1%;
    --input: 240 5.3% 26.1%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 0 85.7% 97.3%;

    --success: 160.1, 84.1%, 39.4%;
    --success-foreground: 0 0% 98%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}
