:root {
  --font-sans: 'Inter';
  --font-serif: 'Vollkorn';
  --font-mono: 'Fira Code';

  --background: 0 0% 100%;
  --foreground: 0 0% 14.9%;

  --muted: 0 0% 98%;
  --muted-foreground: 0 0% 45.1%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 14.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 14.9%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;

  --primary: 0 0% 14.9%;
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 0 0% 14.9%;

  --interactive: 240 4.8% 95.9%;
  --interactive-foreground: 0 0% 14.9%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.2% 33.9%;

  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 0 0% 98%;

  --success: 161.4 93.5% 30.4%;
  --success-foreground: 0 0% 98%;

  --warning: 40.6 96.1% 40.4%;
  --warning-foreground: 0 0% 98%;

  --ring: 240 5% 64.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 9%;
  --foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --popover: 0 0% 9%;
  --popover-foreground: 0 0% 98%;

  --card: 0 0% 9%;
  --card-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 25.1%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --interactive: 0 0% 3.92%;
  --interactive-foreground: 0 0% 98%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 85.7% 97.3%;

  --warning: 45.4 93.4% 47.5%;
  --warning-foreground: 0 0% 98%;

  --success: 160.1 84.1% 39.4%;
  --success-foreground: 0 0% 98%;

  --ring: 0 0% 14.9%;
}
