@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter';
    --font-serif: 'Vollkorn';
    --font-mono: 'Fira Code';

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 0, 0%, 98%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 86%;
    --input: 240 5.9% 76%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95%;
    --secondary-foreground: 240 10% 28%;

    --accent: 240 5.9% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --success: 149.3, 80.4%, 90%;
    --success-border: 152.4 76% 80.4%;
    --success-foreground: 164.2, 85.7%, 16.5%;

    --danger: 0 93.3% 94.1%;
    --danger-border: 0 96.3% 89.4%;
    --danger-foreground: 0 62.8% 30.6%;
  }

  .dark {
    --background: 240 6% 8.5%;
    --foreground: 0 0% 98%;

    --muted: 240 6% 10%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 24%;
    --input: 240 3.7% 34%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 7% 18%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 85%;
    --accent-foreground: 240 6% 8.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --success: 164.2, 85.7%, 16.5%;
    --success-border: 162.9, 93.5%, 24.3%;
    --success-foreground: 149.3, 80.4%, 90%;

    --danger: 0 62.8% 30.6%;
    --danger-border: 0 73.7% 41.8%;
    --danger-foreground: 0 93.3% 94.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
